:root {
    --background1: hsl(273, 75%, 66%);
    --background2: hsl(240, 73%, 65%);
    --neutral1: hsl(237, 12%, 33%);
    --neutral2: hsl(240, 6%, 50%);
    --divider: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}
body {
    background: linear-gradient(var(--background1), var(--background2));
    background-repeat: no-repeat;
    height: 100vh;
}

.main-card {
    background-color: white;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 2rem;
    margin: 180px auto;
    padding: 150px 5% 10%;
    position: relative;
    width: 90%;
}
.hero-image {
    position: absolute;
    /* box-shadow: 10px 10px; */
    top: calc(-230px / 2);
    left: calc((100% - 250px) / 2);
    max-width: 250px;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}