:root {
    --background1: hsl(273, 75%, 66%);
    --background2: hsl(240, 73%, 65%);
    --text-primary1: hsl(238, 29%, 16%);
    --text-primary2: hsl(14, 88%, 65%);
    --text-neutral1: hsl(237, 12%, 33%);
    --text-neutral2: hsl(240, 6%, 50%);
    --divider: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}
body {
    background: linear-gradient(var(--background1), var(--background2));
    background-repeat: no-repeat;
    height: 100%;
}

.main-card {
    background-color: white;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 2rem;
    margin: 180px auto;
    padding: 150px 6% 70px;
    position: relative;
    width: 90%;
    max-width: 500px;
}
.hero-image {
    position: absolute;
    top: calc(-230px / 2);
    left: calc((100% - 250px) / 2);
    max-width: 250px;
}
.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.accordian {
    padding: 1.0rem 0;
    border-bottom: 1px solid var(--divider);
}
.accordian {
    color: var(--text-neutral1);
    font-size: 1rem;
    padding-right: 2rem;
    position: relative;
}
.accordian:hover {
    color: var(--text-primary2);
    cursor: pointer;
}
.drop-down-text {
    color: var(--text-neutral2);
    max-height: 0;
    overflow: hidden;
}
.arrow-icon {
    height: auto;
    width: 16px;
    position: absolute;
    right: 0;
    top: calc(90% / 2);
}
.active {
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 1rem;
}
.is-down {
    border-bottom: 1px solid var(--divider);
    max-height: max-content;
    padding: 0 0 1.5rem;
}
.attribution {
    color: var(--text-neutral1);
    background-color: var(--background1);
    width: 100vw;
    padding: 1%;
    text-align: center;
}

@media (min-width: 500px) {
    .main-card {
        padding: 150px 48px 50px;
    }
    .accordian {
        font-size: 1.1rem;
    }
}

@media (min-width: 1100px) {
    .main-card {
        background-image: url('../images/bg-pattern-desktop.svg'), url('../images/illustration-woman-online-desktop.svg');
        background-position: left -545px top 65%, left -10% top 50%;
        max-width: 1000px;
        margin: 120px auto;
        padding: 80px 80px 80px 500px;
    }
    .hero-image {
        display: none;
    }
    .title {
        text-align: left;
    }
}